<div class="row">
    <div class="col-lg-6" (click)="redirect('customer-custom-config')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure Customer Fields
            </span>
        </div>
    </div>
    <div class="col-lg-6" (click)="redirect('business-process')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure Business Proess
            </span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure Asset Fields
            </span>
        </div>
    </div>
    <div class="col-lg-6" (click)="redirect('dependent-data')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure Customer Dependent Data
            </span>
        </div>
    </div>
    <div class="col-lg-6" (click)="redirect('dependent-data-bp')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure BP Dependent Data
            </span>
        </div>
    </div>
    <div class="col-lg-6" (click)="redirect('dependent-show-hide')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure Customer Dependent Show/Hide
            </span>
        </div>
    </div>
    <div class="col-lg-6" (click)="redirect('dependent-show-hide-bp')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure BP Dependent Show/Hide
            </span>
        </div>
    </div>
    <div class="col-lg-6" (click)="redirect('crew')">
        <div class="widgetHolderOption" style="text-align: center; cursor: pointer;">
            <span class="grid-header" >
                Configure Crew
            </span>
        </div>
    </div>
   
</div>