<app-header></app-header>
<div class="dashboardContainer">
    <aside class="sectionLMenu" [ngClass]="{'collapsed': leftPanelCollapsed}">
        <!-- Brand Logo -->
        <div class="sectionL_Brand">

            <div class="logoWhite">

            </div>
            <div class="logoWhiteTxt">
                Administration
            </div>

            <div class="collapseDiv" (click)="collapseLeftPanel(true)">
                <i class="material-icons">
                    arrow_back_ios
                </i>
                <i class="material-icons icon2">
                    arrow_back_ios
                </i>
            </div>

            <div class="expandDiv" (click)="collapseLeftPanel(false)">
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
                <i class="material-icons icon2">
                    keyboard_arrow_right
                </i>
            </div>

        </div>
        <!-- Brand Logo Ends-->

        <section class="LeftMenuItems">
            <div [routerLink]="['org']" class="item" *ngIf="hasPermission('view.org')">
                <div class="icon"><i class="fa fa-building-o" aria-hidden="true"></i></div>
                <div class="text">Org</div>
            </div>
            <div [routerLink]="['role']" class="item" *ngIf="hasPermission('view.role')">
                <div class="icon"><i class="fa fa-tasks" aria-hidden="true"></i></div>
                <div class="text">Role</div>
            </div>
            <div [routerLink]="['location']" class="item" *ngIf="hasPermission('view.location')">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">Location</div>
            </div>
            <div [routerLink]="['skill']" class="item" *ngIf="hasPermission('view.skill')">
                <div class="icon"><i class="fa fa-link" aria-hidden="true"></i></div>
                <div class="text">Skill</div>
            </div>
            <!-- *ngIf="hasPermission('view.skill')" -->
            <div [routerLink]="['settings']" class="item" >
                <div class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                <div class="text">Settings</div>
            </div>
        </section>

        <div class="sectionL_Brand sub" >
            <div class="logoWhite">
            </div>
            <div [routerLink]="['/usermgmt']" class="logoWhiteTxt subMod" >
              User Management
            </div>
        </div>
        <div class="sectionL_Brand sub" >
            <div class="logoWhite">
            </div>
            <div [routerLink]="['/customer']"  class="logoWhiteTxt subMod" >
              Customer 
            </div>
        </div>
          
          <div class="sectionL_Brand sub" >
            <div class="logoWhite">
            </div>
            <div  [routerLink]="['/tlm']"  class="logoWhiteTxt subMod" >
              Ticket Management
            </div>
        </div>
        
    </aside>
    <div *ngIf="isLoading" class="spinner">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <section class="mainContainer" [ngClass]="{'lm_fixed': !leftPanelCollapsed}">
        
        <!--style="height: 85vh;overflow: auto;"-->
        <div class="contentMain">
            <router-outlet></router-outlet>
        </div>

    </section>

</div>
<app-footer></app-footer>