<div class="widgetHolderOption">
    <div class="row">
        <div class="col-md-12">
            <h1 class="pageHeading">{{labels['role.list.main.heading']}}</h1>
        </div>
        <div class="form-group col-md-12 ">
            <button class="btn btn-primary pull-right " *ngIf="hasPermission('save.role')"
            [routerLink]="['/admin/role-detail']" ><i class="fa fa-plus" aria-hidden="true"></i>{{labels['role.list.main.button1']}}</button>
            <app-grid [datasource]='roles' [heading]='heading' [cols]='cols' (change)=
            "selectionChanged($event)" (editChange) = "editClicked($event)" 
            (deleteChange) = "deleteClicked($event)"  [deleteBtn]="deleteBtn" 
            [editBtn]="editBtn"></app-grid>
        </div>
    </div>
</div>