<app-header></app-header>
<div class="dashboardContainer">
    <aside class="sectionLMenu" [ngClass]="{'collapsed': leftPanelCollapsed}">
        <!-- Brand Logo -->
        <div class="sectionL_Brand">

            <div class="logoWhite">

            </div>
            <div class="logoWhiteTxt">
                Customer 
            </div>

            <div class="collapseDiv" (click)="collapseLeftPanel(true)">
                <i class="material-icons">
                    arrow_back_ios
                </i>
                <i class="material-icons icon2">
                    arrow_back_ios
                </i>
            </div>

            <div class="expandDiv" (click)="collapseLeftPanel(false)">
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
                <i class="material-icons icon2">
                    keyboard_arrow_right
                </i>
            </div>

        </div>
        <!-- Brand Logo Ends-->

        <section class="LeftMenuItems">
            <div [routerLink]="['/customer']" class="item">
                <div class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="text">customer</div>
            </div>
        </section>
        <div class="sectionL_Brand">
            <div class="logoWhite">
            </div>
            <div class="logoWhiteTxt">
                Administration
            </div>
        </div>
        <section class="LeftMenuItems">
            <div [routerLink]="['/admin']" class="item">
                <div class="icon">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                </div>
                <div class="text">Org</div>
            </div>
        </section>
        <div class="sectionL_Brand" >
            <div class="logoWhite">
            </div>
            <div class="logoWhiteTxt" >
              User Management
            </div>
        </div>
         <section class="LeftMenuItems">
            <div [routerLink]="['/usermgmt']" class="item" >
                <div class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              <div class="text">Users</div>
            </div>
          </section>
          <div class="sectionL_Brand">
            <div class="logoWhite">
            </div>
            <div class="logoWhiteTxt">
                Ticket Management
            </div>
        </div>
        <section class="LeftMenuItems">
            <div [routerLink]="['/tlm']" class="item">
                <div class="icon">
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                </div>
                <div class="text">TLC</div>
            </div>
        </section>
    </aside>
    <div *ngIf="isLoading" class="spinner">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <section class="mainContainer" [ngClass]="{'lm_fixed': !leftPanelCollapsed}">


        <!--style="height: 85vh;overflow: auto;"-->
        <div class="contentMain">
            <router-outlet></router-outlet>
        </div>

    </section>

</div>
<app-footer></app-footer>